.DS_Store
*.token

*
!*/
!.gitignore

# ┏━┓╻  ╻  ┏━┓╻ ╻
# ┣━┫┃  ┃  ┃ ┃┃╻┃
# ╹ ╹┗━╸┗━╸┗━┛┗┻┛
!.config/fish/**
!.config/ghostty/**
!.config/hammerspoon/**
!.config/neofetch/**
!.config/pipes-rs/**
!.config/sketchybar/**
!.config/skhd/**
!.config/yabai/**
!espanso/**
!.config/raycast/scripts/**
!.config/nvim/**
!.config/yazi/**

# nvim
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
